.icon__wrapper {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
  
    &--item {
        padding: 10px;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.active {
            background: #353945;
        }
    }
}