@import "assets/scss/master";

.empty__wrapper {
    margin: 2rem 0;
    text-align: center;
    h6 {
        font-size: 24px;
        font-family: $primary_font_family--medium;
        color: #fff;
    }

    p {
        font-family: $primary_font_family--medium;
        font-size: 15px;
        color: #A7B1BC;
    }
}